<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSavePost()" [formGroup]="form" *ngIf="!isLoading">
        <mat-form-field>
            <input matInput formControlName="title" placeholder="Post Title" type="text">
            <mat-error *ngIf="form.get('title').invalid">Please enter a post Title</mat-error>

        </mat-form-field>
        <div>
            <button mat-stroked-button (click)="filePicker.click()" class=" animated fadeInRight delay-1.1s"
                color="primary" type="button">Upload Pic</button>
            <input #filePicker (change) = "onImagePicked($event)" type="file">
        </div>
        <mat-form-field>
            <textarea matInput placeholder="Post Content" formControlName="content" rows="4"></textarea>
            <mat-error *ngIf="form.get('content').invalid">Please enter a post Content</mat-error>
        </mat-form-field>

        <button mat-raised-button class="animated fadeInLeft delay-.7s" color="primary" type="submit">Save
            Posts</button>

    </form>
</mat-card>